@media(min-width:576) {
    .habilidades{
        box-sizing: border-box;
         text-align: center;
         justify-content: center;
     }
     .celular img{
         width: 2rem;
         height: 2rem;
     }
     .correo img{
         width: 2rem;
         height: 2rem;
     }
     .correo{
         margin-left: 3rem;
     }
     .celular{
         margin-left: -1rem;
     }
     .motion{
         margin: auto ;
         text-align: center; 
     }
     .mobile{
         margin: auto ;
         text-align: center; 
        
        
     }
     .fondo2{
        top: -16%;   
    }
     .diseño{
         margin: auto ;
         text-align: center;
         margin-left: 0.5rem;
         padding-top: 5rem; 
     }
     .web{
         margin: auto;
         text-align: center;
         padding-top: 5rem;
     }
     .tablaPortafolio{
        display: block;
     }
     body{
        overflow: hidden;
    }
    .ham{
        display: block;
    }
    nav{
        flex-direction: column;
        align-items:flex-end;   
    }
    .enlaces-menu{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0%;
        padding: 0%;
        width: 100%;
        display: block;
       
    }
   
    
}

@media (min-width: 768px) {
.motion{
    margin-right: 15rem ;
    text-align: center; 
}
.mobile{
    
    text-align: center; 
   margin-left: 10rem;
   
}
.diseño{
    
    text-align: center;
    margin-left: 10rem;
}
.web{
   
    text-align: center;
    margin-right: 15rem ;
}

}

@media (min-width: 992px) {
         nav li{
             display: inline-block;
             margin-left: 0.5rem;
         }
         button{
             display: none;
         }
         .dani{
             padding-top: 5rem;
         }
         .diseño{
            margin-left:  9.5rem;
            text-align: center;
        }
        .web{
           
            margin-left: auto;
           text-align: center;
           
        }
        .motion{
            margin-left: auto;
            text-align: center;
        }
        .mobile{
            margin-left: auto;
            text-align: center;
        }
        .subtitulo{
            margin-top: 4rem;
        }
        
}
 @media (min-width: 1200px) { 

    .mobile{
        margin-left: 12rem;
        text-align: center;
    }

    nav li{
        display: inline-block;
        margin-left: 2rem;
        text-align: end;
    }
 }


