html {
     box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

html{
    background-color: #020403;
    
}

.titulo{
    color: #ffffff;
    text-align: center;
    font-family: 'Rubik','Times New Roman', Times, serif;
}

.subtitulo{
    color: #adadad;
    text-align: center;
    font-family: Rubik,'Times New Roman', Times, serif;
}

p{
    color: #ffffff;
    font-family: Rubik,'Times New Roman', Times, serif;
}
.presentacion{
    color: #adadad;
}
.menu{
 display: block;
 margin-left: auto;
  color: #ffffff;
  padding: 1rem;
  background-color: #020403;
}
button{
    background-color: #020403;
    width: 0.5rem;
    height: 0.5rem;
}
nav ul{
    list-style: none;
    text-align: center;
}
nav li{
    display: inline-block;
    margin-left: 1rem;
    text-align: right;
}
nav a{
    text-decoration: none;
    color: #ffffff;
}
nav{
    text-align: right;
    padding: 1rem 3rem;
}
.hidden{
    display: none;
}
.dani{
    position: static ;
    display: block;
    margin: auto;

}
.fondo{
    background-image: url(lineaArriba.svg);
  
}
.imagenportafolio{
 display: flex;
}
.imagenportafolio img{
    width: 20rem;
    height: 20rem;
    margin: 0.5rem;
}
.contacto{
    display: flex;
    justify-content: center;   
    text-align: center; 
}

.pieP{
    text-align: center;
    color: #adadad;
}
.redes{
    display: flex;
    justify-content: center;
}
.circuloD{
    background-image: url(circulo.svg);
    position: absolute;
    margin-left: 95rem;
}
.circuloI{
    background-image: url(circulo.svg);
    position: absolute;
}
.tabla{
  
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 50%;
}
.Experienciah{
   display: inline-block;
   /*  text-align: center; */
  /*   justify-content: center; */
    /* margin: auto; */
  /*   width: 50%; */
}
.celular img{
    width: 2rem;
    height: 2rem;
   
}
.correo img{
    width: 2rem;
    height: 2rem;
}
.correo{
    margin-left: 3rem;
    
}
.celular{
    margin-left: 3rem;
}
.mobilefondo{
    background-color:#1a1a1a ;
    border-radius: 10rem;
    width: auto;
}


