html{
    background-color: #020403;
    
}

.titulo{
    color: #ffffff;
    text-align: center;
    font-family: Rubik,'Times New Roman', Times, serif;
}

.subtitulo{
    color: #ffffff;
    text-align: center;
    font-family: Rubik,'Times New Roman', Times, serif;
}

p{
    color: #ffffff;
    font-family: Rubik,'Times New Roman', Times, serif;
}

.menu{
 display: block;
 margin-left: auto;
  color: #ffffff;
  padding: 1rem;
}
.dani{
    position: static ;
    display: block;
    margin: auto;

}
.fondo{
    background-image: url(lineaArriba.svg);
  
}

.uno{
    display: inline-flex;
    margin: auto;
}
.dos{
    display: inline-block;
    margin: auto;
}
.tres{
    display: inline-block;
    margin: auto;    
}

.imagenportafolio{
 display: flex;
}
.contacto{
    display: flex;
}

.tituloContacto{
    text-align: center;
}
.habilidades{
    text-align: center;
    display: flex;
}
.desarrollo{
    text-align: center;
    display: flex;
}